
body {
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
  background-color: #efefef;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

li {
  list-style: none;
}

button {
  padding: 10px 7px 10px 7px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  border-color: #396df2;
  margin-top: 20px;
  font-style: normal;
  letter-spacing: 0.03em;
}

.header-and-headline-section {
  background-color: #fff;
  border-bottom-left-radius: 10%;
  width: 100vw;
  height: 90vh;
}

.navbar {
  padding-top: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: static;
  padding-left: 6%;
  padding-right: 6%;
  margin-bottom: 6%;
}

.logo {
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 17px;
  text-decoration: none;
}

.hamburger-btn {
  background: none;
  border: none;
  padding: 0;
  padding-right: 6%;
  cursor: pointer;
}

button > .toggler-icon {
  display: block;
  background-color: #6070ff;
  width: 16px;
  height: 2px;
  margin-bottom: 4px;
  color: white;
}

.about-section {
  background-position: absolute;
  background-image: url("./assets//header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-size: 100% 37.296875em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.125em 1.5em;
  gap: 0.75em;
  width: 90vw;
  height: 38.75em;
  left: -7em;
  top: 10.75em;
  padding-bottom: 5px;
}

.container-for-about-section {
  padding-top: 70px;
  padding-left: 3px;
  padding-right: 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-for-about-section .intro {
  margin: 0;
  font-size: 40px;
  font-style: normal;
  padding-right: 10px;
  line-height: 50px;
  color: #172b4d;
  flex: 1;
}

.container-for-about-section .profile {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  color: #344563;
  flex: 1;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
}

.about-section-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.lets-connect {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  align-self: self-start;
  text-decoration: none;
  margin-top: 2px;
  margin-bottom: 2px;
  font-family: 'Poppins', sans-serif;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style: none;
  height: 20px;
  width: 170px;
  margin-left: -10px;
}

.social-media-icons li {
  width: 17px;
  padding: 10px;
  padding-top: 0;
  height: 14px;
}

.social-media-icons .twohandicon {
  width: 14px;
  height: 20px;
}

.social-media-icons .socialIcon {
  padding-top: 1px;
  width: 20px;
  height: 19px;
  padding-bottom: -2px;
}

.social-media-icons .git {
  width: 18px;
  height: 20px;
}

.social-media-icons .twitter {
  width: 19px;
  height: 19px;
  padding: 0;
}

/* projects section starts */
.my-individual-project {
  margin: auto;
  position: relative;
  margin-top: 20%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  justify-content: space-evenly;
  background-color: white;
  width: 85%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.my-individual-project .content-wrapper {
  padding: 15px 4px 15px 4px;
}

.my-individual-project .snapshot {
  padding: 0;
  box-shadow: 2px;
}

.my-individual-project .project-details {
  padding: 10px;
}

.my-individual-project .project-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 42px;
  font-family: 'Poppins', sans-serif;
}

.my-individual-project .sub-title {
  display: flex;
  flex-direction: row;
  position: relative;
}

.my-individual-project .sub-title > img {
  width: 8px;
  height: 8px;
  align-self: center;
  padding-bottom: 2px;
  padding-left: 7px;
  padding-right: 7px;
}

.my-individual-project .sub-title > span {
  font-size: 13px;
  font-weight: 600;
  line-height: 12px;
  font-family: 'Poppins', sans-serif;
}

.my-individual-project .sub-title > .dev-title,
.year-produced {
  font-family: 'Poppins', sans-serif;
  color: #7a869a;
}

.my-individual-project .project-description {
  font-size: 15px;
  line-height: 25px;
  font-family: 'Poppins', sans-serif;
  word-wrap: break-word;
}

.my-individual-project .stacks {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.my-individual-project .stacks > span {
  background-color: #ebebff;
  min-width: 50px;
  height: 16px;
  padding: 4px;
  font-family: 'Poppins', sans-serif;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  color: #6070ff;
  text-align: center;
  margin: 4px;
}

/* about my self and skill list section */
.about-myself-and-skill-list-section {
  background-color: white;
  border-top-right-radius: 10%;
  margin-top: 20%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-bottom: 20%;
}

.about-myself-and-skill-list-section .about-myself-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7%;
}

.about-myself-and-skill-list-section .languages-framework-skills {
  flex-direction: column;
  position: relative;
}

.languages-framework-skills .list-title {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0;
  margin: 0 0 0 0;
  padding-bottom: 0;
  padding-left: 7%;
  padding-right: 7%;
  max-width: 85vw;
}

.languages-framework-skills .separator > img {
  margin: auto;
  padding-left: 7%;
  padding-right: 7%;
}

.languages-framework-skills > ul > li > h2 {
  font-weight: 500;
  font-size: 20px;
  color: #000;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
}

.languages-framework-skills .list-title .arrowdown,
.arrowright {
  padding-right: 10%;
  padding-top: 5%;
}

.languages-framework-skills .languages-list-items-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;
  padding: 12px;
  margin: 0;
}

.languages-list-items-container .languages-list-items {
  margin-left: 3%;
}

.languages-list-items-container .languages-list-items > div {
  display: flex;
  flex-direction: row;
  min-width: 85vw;
  height: 66.72px;
  background-color: #f7f7f9;
  border-radius: 8px;
  gap: 12px;
}

.languages-list-items-container .languages-list-items > div > h2 {
  font-size: 15px;
  font-style: normal;
  padding-top: 3%;
  font-weight: 500;
  color: #253858;
}

.languages-list-items-container .languages-list-items > div img {
  padding-top: 0.4em;
  padding-left: 0.6em;
}
