body {
  box-sizing: border-box;
}

.hero {
  width: 100%;
  height: 100vh;
}

.navbar {
  padding-top: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: static;
  padding-left: 6%;
  padding-right: 6%;
}

.logo {
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 17px;
}

.hamburger-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

button > .toggler-icon {
  display: block;
  background-color: #6070ff;
  width: 16px;
  height: 2px;
  margin-bottom: 4px;
  color: white;
}

.about-section {
  width: 100%;
  background-image: url("./assets/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container-for-about-section {
  padding-top: 70px;
  padding-left: 6%;
  padding-right: 6%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div > .about-section-item {
  margin: 0;
}

.container-for-about-section .intro {
  font-weight: 700;
  margin: 0;
  font-size: 40px;
  font-style: normal;
  line-height: 50px;
  color: #172b4d;
  flex: 1;
  font-family: 'Poppins', sans-serif;
}

.container-for-about-section .profile {
  font-size: 16px;
  line-height: 25px;
  font-style: normal;
  font-weight: 400;
  flex: 1;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
}

.lets-connect {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  align-self: self-start;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 3px;
  font-family: 'Poppins', sans-serif;
}

.about-section-item .social-media-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 15px;
  justify-content: space-between;
}

.social-media-icons img {
  width: 15px;
  padding: 4px;
}

/* projects section starts */
.first-project{
  padding-left: 6%;
  padding-right: 6%;
}